.App {
  padding: 30px;
  display: flex;
}

.App > div {
  margin-right: 50px;
}

input {
  outline: none;
}

.error {
  border: solid 1px red;
}

.error-message {
  color: red
}

.active-filter {
  background-color: lightblue;
  border: blue solid 1px;
  color: blue;
}
.isDone {
  opacity: 0.3;
  text-decoration: line-through;
  text-decoration-color: blue;
}
.todolist-title-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.todolist-title-container button {
height: 20px;

}
